<div class="container">
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">Date</th>
        <th scope="col">Top Up</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let history of topupHistory">
        <td>{{ history.date }}</td>
        <td>{{ history.topup }}</td>
      </tr>
    </tbody>
  </table>
  <button type="button" (click)="balance()" class="btn btn-block btn-success">
    Balance
  </button>
</div>
