<div class="container">
  <div class="row">
    <div class="inner-main">
      <h2 class="mb-4">User Balance</h2>
      <p><strong>Name:</strong> {{ this.currentUser.name }}</p>
      <p><strong>Mobile Number:</strong> {{ this.currentUser.mobile }}</p>
      <p>
        <strong>Balance:</strong>
        {{ this.currentUser.balance | currency: "Rp" }}
      </p>
      <button
        type="button"
        (click)="history()"
        class="btn btn-block btn-success"
      >
        History
      </button>
    </div>
  </div>
</div>
